@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  color: #170837;
  transition: transform 0.3s ease, background 0.3s ease;
  width: 250px;
  height: 175px;
  margin: 10px;
  font-family: 'Inter', sans-serif;
}

.card.active {
  background: #33295f;
  color: white;
  transform: scale(1.05);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #3d3d3d;
}

.card.active p {
  color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.explore-button {
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  background: white;
  color: #1d0f60;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.explore-button .text {
  margin-left: 8px;
}

.card:hover .explore-button {
  opacity: 1;
  transform: scale(1);
}

.card:hover {
  transform: scale(1.05);
}
